# netezza conf
NETEZZA_U: username
NETEZZA_P: password
NETEZZA_PROD_U: username
NETEZZA_PROD_P: password

# mssql conf
MSSQL_U: username
MSSQL_P: pw

# mssql_2 conf
# MSSQL_2_U: username
# MSSQL_2_P: pw

# s3 bucket
S3_ACCESS_KEY: key
S3_SECRET_ACCESS_KEY: secretkey

S3_TEST_ACCESS_KEY: key
S3_TEST_SECRET_ACCESS_KEY: secretkey

# pseudoserver
PSEUDO_SERVER_HOST: host
PSEUDO_SERVER_PORT: port
PSEUDO_SERVER_PW: pw

# app_service:
APP_SERVICE_SECRET_KEY_JWT: foobar
APP_SERVICE_USER_JWT: foo
APP_SERVICE_PW_JWT: bar

APP_SERVICE_USER_BASICAUTH: foo
APP_SERVICE_PW_BASICAUTH: bar

# azure di
AZURE_DI_API_KEY: foobar

# trino
TRINO_U: username
TRINO_P: password

# postgres
POSTGRES_U: username
POSTGRES_P: password

# Archivews
ARCHIVEWS_WSDL: url

# DocDeliver
# Values are environment-specific and must be provided through the secret store.
DOC_DELIVER_USER: username
DOC_DELIVER_PASSWORD: password
DOC_DELIVER_CLIENT_ID: client_id
